doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./public/css/normalize.css')
    link(rel='stylesheet' href='./public/css/estilos.css')
    title Cuestionario Psicologia
  body
    .menu
      ul
        li Inicio
        li Características
        li Actividades
        li.btn-iniSesion Iniciar sesión
    .banner
      article.banner-info
        .titulo
          h2 Nuestras Inteligencias
          h1 MULTIPLES
        span.banner-descripcion
          p
            | La mayoría de los individuos tenemos la totalidad de las 7 inteligencias.
            | Cada una desarrollada de modo y a un nivel particular, producto de la dotación biológica de cada
            | uno, de su interacción con el ambiente y de la cultura en que crecimos. Las combinamos y
            | las usamos en diferentes grados, de manera personal y única.
        span.opciones
          span.boton
            input(type='button' value='Realizar Cuestionario' onclick="window.location='/1'")
          span.autor
            img(src='public/img/autor.jpg' alt='')
            p Howard Gardner
      article.banner-img
        img(src='img/581.png' alt='')
